<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aotuman.appwidget" >
    <application >
        <receiver android:name=".NotepadWidget4X1"
            android:exported="true"
            android:label="简易便签">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/notepad_appwidget_info_4x1" />
        </receiver>

        <receiver android:name=".NotepadWidget4X2"
            android:exported="true"
            android:label="简易便签">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.aotuman.next.notepad" />
                <action android:name="com.aotuman.top.notepad" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/notepad_appwidget_info_4x2" />
        </receiver>
    </application>
</manifest>

